.root {
   button-base-color: lightgrey;
}

.button {
   -fx-background-color: black;
   -fx-text-fill: grey;
}

#buttonSelected {
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-font-size: 12;
}

#buttonNotSelected {
   -fx-text-fill: grey;
}

.list-cell:odd {
   -fx-background-color: silver;
 }

.button:hover {
    -fx-text-fill: white;
}

