.root {
   button-base-color: lightgrey;
}

.button {
   -fx-background-color: #f2f2f2;
   -fx-text-fill: grey;
   -fx-font-size: 15;
   -fx-font-weight: bold;
}

#buttonSelected {
   -fx-text-fill: #4d4d4d;
   -fx-font-weight: bold;
   -fx-font-size: 15;
}

#buttonNotSelected {
   -fx-text-fill: grey;
   -fx-font-size: 15;
   -fx-font-weight: bold;
}

#buttonNotSelected:hover {
   -fx-text-fill: #4d4d4d;
   -fx-font-size: 15;
   -fx-font-weight: bold;

}

.list-cell: {
   -fx-background-color: white;
 }

.button:hover {
    -fx-text-fill: #4d4d4d;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

#over6Days {
    -fx-text-fill: green;
}

#over2Days {
    -fx-text-fill: orange;
}

#under3Days {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

#under3DaysAnd {
    -fx-text-fill: red;
}

#name {
    -fx-text-fill: blue;
}
