.root {
   button-base-color: lightgrey;
}

.button {
<<<<<<< HEAD
   -fx-background-color: azure;
=======
   -fx-background-color: black;
>>>>>>> secondary/master
   -fx-text-fill: grey;
}

#buttonSelected {
<<<<<<< HEAD
   -fx-text-fill: black;
=======
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-font-size: 18;
>>>>>>> secondary/master
}

#buttonNotSelected {
   -fx-text-fill: grey;
}
